
body
{
    background-color: white;
    width: 100%;
    overflow-x: hidden;

}

p{
    font-size: 12px;

}

#big
{
    font-family: cursive;

}

.topnav
{
    padding: 30px 5%;
    position: fixed;
    width: 99.5%;
    max-width: 99.5%;
    box-sizing: border-box;
    z-index: 1000;

}

.navbar
{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;

}

.navbar .left
{
    display: flex;
    align-items: center;

}

.navbar .left h1
{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;

}

.navbar .middle
{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 25px;
    
}

.navbar .middle h2
{
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;

}

.tap
{
    border-bottom: 2px solid white;
    width: fit-content;
    padding-bottom: 8px;

}

/* feedback */
.feedback
{
    padding: 6px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    font-size: 21px;
    position: absolute;
    margin: 450px 0 0 5%;

}

.feedback:hover + .content
{
    display: block;
    
}

.content
{
    display: none;
    
}

.content p
{
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    font-family: cursive;
    width: fit-content;
    position: absolute;
    margin: 455px 0 0 9%;
    
}

/* background_img */
.background_img
{
    width: 100%;
    height: 105vh;

}

/* news heading */
.news_heading h2
{
    background-color: white;
    color: black;
    border: 2px solid black;
    font-family: cursive;
    font-size: 17px;
    cursor: pointer;
    padding: 10px 5%;
    border-radius: 5px;
    margin-top: 2px;

}

/* news */
.ctn
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 40px 5%;
    
}

.ctn .left
{
    color: black;
    width: 340px;
    height: 490px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 900;

}

.ctn .left .img
{
    width: 340px;
    height: 400px;
    border: none;
    border-radius: 30px;


}

.ctn .middle 
{
    width: 340px;
    height: 490px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;

}

.ctn .middle .img
{
    width: 340px;
    height: 400px;
    border: none;
    border-radius: 30px;


}

.ctn .right
{
    width: 340px;
    height: 490px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;

}

.ctn .right .img
{
    width: 340px;
    height: 400px;
    border: none;
    border-radius: 30px;

}




/* small laptop */
/* navbar samall */
.topnav_small
{
    padding: 30px 5%;
    position: fixed;
    width: 100%;
    max-width: 100%;
    z-index: 1000;

}

.navbar_small
{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;

}

.navbar_small .left
{
    display: flex;
    align-items: center;

}

.navbar_small .left h1
{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;

}

.navbar_small .middle
{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 25px;
    
}

.navbar_small .middle h2
{
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;

}

/* news_small */
.ctn_small
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 40px 5%;
    
}

.ctn_small .left
{
    color: black;
    width: 280px;
    height: 490px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 900;

}

.ctn_small .left .img
{
    width: 280px;
    height: 400px;
    border: none;
    border-radius: 30px;


}

.ctn_small .middle 
{
    width: 280px;
    height: 490px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;

}

.ctn_small .middle .img
{
    width: 280px;
    height: 400px;
    border: none;
    border-radius: 30px;


}

.ctn_small .right
{
    width: 280px;
    height: 490px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;

}

.ctn_small .right .img
{
    width: 280px;
    height: 400px;
    border: none;
    border-radius: 30px;

}



/* tablet */
.topnav_tablet
{
    padding: 30px 5%;
    position: fixed;
    width: 100%;
    max-width: 100%;
    z-index: 1000;

}

.navbar_tablet
{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;

}

.navbar_tablet .left
{
    display: flex;
    align-items: center;

}

.navbar_tablet .left h1
{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;

}

.navbar_tablet .middle
{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 25px;
    
}

.navbar_tablet .middle h2
{
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;

}

/* news */
.ctn_tablet
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 5%;
    
}

.ctn_tablet .left
{
    background-color: white;
    color: black;
    width: 220px;
    height: 440px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 900;

}

.ctn_tablet .left .img
{
    width: 220px;
    height: 330px;
    border: none;
    border-radius: 30px;


}

.ctn_tablet .middle 
{
    width: 220px;
    height: 440px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;

}

.ctn_tablet .middle .img
{
    width: 220px;
    height: 330px;
    border: none;
    border-radius: 30px;


}

.ctn_tablet .right
{
    width: 220px;
    height: 440px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;

}

.ctn_tablet .right .img
{
    width: 220px;
    height: 330px;
    border: none;
    border-radius: 30px;

}





/* phone */

/* #mobile
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.topnav_phone
{
    padding: 30px 5%;
    position: fixed;
    width: 81%;
    max-width: 81%;
    z-index: 1000;

}

.navbar_phone
{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;

}

.navbar_phone .left
{
    display: flex;
    align-items: center;

}

.navbar_phone .left h1
{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.navbar_phone .right
{
    margin-left: auto;
    cursor: pointer;

}

.navbar_phone .right p
{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar_phone .right .dropdown
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    padding: 20px 10px;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: -5px;
    margin-left: -35px;
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    align-items: center;
    transition: 0.3s;
    justify-content: center;

}

.navbar_phone .right .dropdown p
{
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.tap_phone
{
    background-color: white;
    color: black;
    width: 72px;

} */

body
{
    width: 100%;

}

#mobile
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.topnav_phone
{
    padding: 30px 5%;
    position: fixed;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;

}

.navbar_phone
{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;

}

.navbar_phone .left
{
    display: flex;
    align-items: center;

}

.navbar_phone .left h1
{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.navbar_phone .right
{
    margin-left: auto;
    cursor: pointer;

}

.navbar_phone .right p
{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar_phone .right .dropdown
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    padding: 20px 10px;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: -5px;
    margin-left: -35px;
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    align-items: center;
    transition: 0.3s;
    justify-content: center;

}

.navbar_phone .right .dropdown p
{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.3s ease;

}

.tap_phone
{
    background-color: white;
    color: black;
    width: 72px;

}

/* feedback_phone */
.feedback_phone
{
    padding: 6px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    font-size: 21px;
    position: absolute;
    margin: 330px 0 0 5%;

}

.feedback_phone:hover + .content_phone
{
    display: block;
    
}

.content_phone
{
    display: none;
    
}

.content_phone p
{
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    font-family: cursive;
    width: fit-content;
    position: absolute;
    margin: 405px 0 0 9%;
    
}

/* background_img_phone */
.background_img_phone
{
    width: 100%;
    height: 500px;

}

/* news heading_phone */
.news_heading_phone h2
{
    background-color: white;
    color: black;
    border: 2px solid black;
    font-family: cursive;
    font-size: 17px;
    cursor: pointer;
    padding: 8px 5%;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    margin-top: 2px;

}

/* news */
.news_phone
{
    display: flex;
    flex-direction: column;

}

.ctn_phone
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 25px 5%;
    
}

.ctn_phone .left
{
    background-color: white;
    color: black;
    width: 270px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 900;

}

.ctn_phone .left .img
{
    width: 270px;
    height: 400px;
    border: none;
    border-radius: 30px;


}

.ctn_phone .middle 
{
    width: 270px;
    height: 370px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;

}

.ctn_phone .middle .img
{
    width: 270px;
    height: 400px;
    border: none;
    border-radius: 30px;


}

.ctn_phone .right
{
    width: 270px;
    height: 370px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;

}

.ctn_phone .right .img
{
    width: 270px;
    height: 400px;
    border: none;
    border-radius: 30px;

}