.loading
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: center;
    height: 100vh;
    width: 100%;

}

.homepage
{
    background-color: black;
    color: white;

}