
/* big laptop */

body
{
    width: 100%;
    color: white;
    overflow-x: hidden;

}

p
{
    font-size: 12px;

}

#big
{
    font-family: cursive;

}

.topnav
{
    padding: 30px 5%;
    position: fixed;
    width: 99.5%;
    max-width: 99.5%;
    box-sizing: border-box;
    z-index: 1000;

}

.navbar
{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;

}

.navbar .left
{
    display: flex;
    align-items: center;

}

.navbar .left h1
{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;

}

.navbar .middle
{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 25px;
    
}

.navbar .middle h2
{
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;

}

.tap
{
    border-bottom: 2px solid white;
    width: fit-content;
    padding-bottom: 8px;

}

/* background_img */
.background
{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

}

/* standings */
.ctn_standings
{
    display: flex;
    position: relative;
    align-items: center;
    padding: 170px 10px 5% 5%;
    color: white;
    justify-content: center;
    z-index: -1;
    cursor: pointer;

}

.standings
{
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    z-index: -1;
    border: 1.5px solid gray;
    border-radius: 20px;

}

.standings .number
{
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;

}

.standings .number p
{
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 25px;
    
}

.standings .clubs
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;

}

.standings .clubs p
{
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 190px 5px 7px;

}

.standings .matches
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    
}

.standings .matches p
{
    padding: 5px 25px;
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;

}

.standings .ga
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    
}

.standings .ga p
{
    padding: 5px 25px;
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;

}

.standings .points
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    
}


.standings .points p
{
    padding: 5px 25px;
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;
    
}

.standings #madrid
{
    color: orange;
    
}




/* small laptop */
/* navbar samall */
.topnav_small
{
    padding: 30px 5%;
    position: fixed;
    width: 100%;
    max-width: 100%;
    z-index: 1000;

}

.navbar_small
{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;

}

.navbar_small .left
{
    display: flex;
    align-items: center;

}

.navbar_small .left h1
{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;

}

.navbar_small .middle
{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 25px;
    
}

.navbar_small .middle h2
{
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;

}

/* standings */
.ctn_standings_small
{
    display: flex;
    position: relative;
    align-items: center;
    padding: 170px 10px 5% 5%;
    color: white;
    justify-content: center;
    z-index: -1;
    cursor: pointer;

}

.standings_small
{
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    z-index: -1;
    border: 1.5px solid gray;
    border-radius: 20px;

}

.standings_small .number
{
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;

}

.standings_small .number p
{
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 17px;
    
}

.standings_small .clubs
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;

}

.standings_small .clubs p
{
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 115px 5px 7px;

}

.standings_small .matches
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    
}

.standings_small .matches p
{
    padding: 5px 17px;
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;

}

.standings_small .ga
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    
}

.standings_small .ga p
{
    padding: 5px 17px;
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;

}

.standings_small .points
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    
}


.standings_small .points p
{
    padding: 5px 17px;
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;
    
}

.standings_small #madrid
{
    color: orange;
    
}




/* tablet */
.topnav_tablet
{
    padding: 30px 5%;
    position: fixed;
    width: 100%;
    max-width: 100%;
    z-index: 1000;

}

.navbar_tablet
{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;

}

.navbar_tablet .left
{
    display: flex;
    align-items: center;

}

.navbar_tablet .left h1
{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;

}

.navbar_tablet .middle
{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 25px;
    
}

.navbar_tablet .middle h2
{
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;

}

/* standings */
.ctn_standings_tablet
{
    display: flex;
    position: relative;
    align-items: center;
    padding: 170px 10px 5% 5%;
    color: white;
    justify-content: center;
    z-index: -1;
    cursor: pointer;

}

.standings_tablet
{
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    z-index: -1;
    border: 1.5px solid gray;
    border-radius: 20px;

}

.standings_tablet .number
{
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;

}

.standings_tablet .number p
{
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 12px;
    
}

.standings_tablet .clubs
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;

}

.standings_tablet .clubs p
{
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 65px 5px 7px;

}

.standings_tablet .matches
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    
}

.standings_tablet .matches p
{
    padding: 5px 12px;
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;

}

.standings_tablet .ga
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    
}

.standings_tablet .ga p
{
    padding: 5px 12px;
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;

}

.standings_tablet .points
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    
}


.standings_tablet .points p
{
    padding: 5px 12px;
    border-bottom: 1.5px solid gray;
    cursor: pointer;
    font-size: 15px;
    
}

.standings_tablet #madrid
{
    color: orange;
    
}




/* mobile */

.topnav_phone
{
    padding: 30px 5%;
    position: fixed;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;

}

.navbar_phone
{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;

}

.navbar_phone .left
{
    display: flex;
    align-items: center;

}

.navbar_phone .left h1
{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.navbar_phone .right
{
    margin-left: auto;
    cursor: pointer;

}

.navbar_phone .right p
{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar_phone .right .dropdown
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    padding: 20px 10px;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: -5px;
    margin-left: -35px;
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    align-items: center;
    transition: 0.3s;
    justify-content: center;

}

.navbar_phone .right .dropdown p
{
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.tap_phone
{
    background-color: white;
    color: black;
    width: 72px;

}

/* background_img_phone */
.background
{
    width: 100%;
    height: 100vh;

}

/* standings */
.ctn_standings_mobile
{
    display: flex;
    position: relative;
    align-items: center;
    padding: 170px 10px 5% 5%;
    color: white;
    justify-content: center;
    z-index: -1;

}

.standings_mobile
{
    display: flex;
    position: relative;
    align-items: center;
    z-index: -1;
    border: 1.5px solid gray;
    border-radius: 20px;

}

.standings_mobile .number
{
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);

}

.standings_mobile .number p
{
    border-bottom: 1.5px solid gray;
    padding: 5px 10px;
    
}

.standings_mobile .clubs
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);

}

.standings_mobile .clubs p
{
    border-bottom: 1.5px solid gray;
    padding: 5px 50px 5px 7px;
    border-bottom: 1.5px solid gray;

}

.standings_mobile .matches
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    
}

.standings_mobile .matches p
{
    padding: 5px 10px;
    border-bottom: 1.5px solid gray;

}

.standings_mobile .ga
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.822);
    
}

.standings_mobile .ga p
{
    padding: 5px 10px;
    border-bottom: 1.5px solid gray;

}

.standings_mobile .points
{
    border-left: 1.5px solid gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0 20px 20px 0;
    background-color: rgba(0, 0, 0, 0.822);
    
}


.standings_mobile .points p
{
    padding: 5px 10px;
    border-bottom: 1.5px solid gray;
    
}

.standings_mobile #madrid
{
    color: orange;
    
}